.test {
	background: #FFF;
	width: 200px;
	height: 150px;

	padding: 20px;
	
	border: 1px solid #000;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	
	-moz-box-shadow: 2px 3px 0px #999;
	-webkit-box-shadow: 2px 3px 0px #999;
	box-shadow: 2px 3px 0px #999;
}