/**************************************************
page styles
@app 		Worry-Free Family
@version	1.0
@author 	Gail Wang
@email		gail_wang@trend.com.tw
@created	2010/11
**************************************************/
.main_content{
	padding: 0 45px 15px 45px;
	margin: 0;
	width: auto;

}

.editable.ui-state-hover{
	border: none;
	background: #66CCFF;
}

.editable.ui-state-focus{
	border: none;
	background: #fff;
}

.editable input,
.editable button{
	font-size: 11px;
	vertical-align: middle;
}