html,body{min-width:1024px;font-size:85%;}
.clearfix{zoom:1;}
.clearfix:after{content:'.';display:block;clear:both;visibility:hidden;height:0;font-size:0;}

#home_page{margin:30px 10px;}
#home_page #hd{margin-bottom:7px;}
#home_page #hd .trend_logo{float:left;width:104px;height:37px;border-right:1px solid #bdbdbd;margin-left:30px;padding-right:10px;background:#ffffff url('../img/icon_trend.png') no-repeat;}
#home_page #hd .trend_product{float:left;width:237px;height:37px;margin-left:10px;background:#ffffff url('../img/icon_trend_product.png') no-repeat;}
#home_page #hd .option{float:right;}
#home_page #hd .user{float:left;margin:0 5px 0 10px;}
#home_page #hd .logout{float:left;}
#home_page #hd .help{float:left;margin:0 5px 0 10px;position:relative;}
#home_page #hd .help .link{display:block;width:18px;height:18px;background:#ffffff url('../img/icon_help.png') no-repeat;}
#home_page #hd .help_menu{display:none;}
#home_page #hd .help:hover .help_menu{display:block;}
#home_page #hd .help_menu .help_menu_arrow{position:absolute;top:21px;z-index:2;left:2px;width:15px;height:15px;background:#ffffff url('../img/bg_help_top.png') no-repeat;}
#home_page #hd .help_menu ul{position:absolute;border:3px solid #fff;top:33px;left:-100px;line-height:22px;color:#ffffff;font-weight:bold;background:#ffffff url('../img/bg_help.png') repeat-x;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;box-shadow:5px 5px 5px #adadad;-moz-box-shadow:5px 5px 5px #adadad;-webkit-box-shadow:5px 5px 5px #adadad;}
#home_page #hd .help_menu ul a{color:#ffffff;text-decoration:none;white-space:nowrap;margin:10px;}
#home_page #hd .document{float:left;width:16px;height:17px;margin-right:10px;background:#ffffff url('../img/icon_document.png') no-repeat;}

#home_page #bd #menu{width:auto;height:33px;background:#ffffff url('../img/bg_menu.png') repeat-x;}
#home_page #bd #menu .item{float:left;height:31px;padding:0 10px;border-top:1px solid #840000;border-bottom:1px solid #840000;border-right:1px solid #840000;background:#ffffff url('../img/bg_menu.png') repeat-x;}
#home_page #bd #menu .item.first{padding-left:20px;border-left:1px solid #840000;}
#home_page #bd #menu .item:hover{background-position:0 -31px;}
#home_page #bd #menu .item:hover .sub_menu{display:block;}
#home_page #bd #menu .item .star{display:block;width:16px;height:15px;margin:7px;background:#ffffff url('../img/icon_star.png') no-repeat;}
#home_page #bd #menu .item .item_text{display:block;padding:7px;font-weight:bold;color:#fff;text-decoration:none;}
#home_page #bd #menu .item .sub_menu{display:none;position:relative;}
#home_page #bd #menu .item .sub_menu ul{position:absolute;top:3px;left:-16px;white-space:nowrap;border:1px solid #636363;background-color:#efefef;}
#home_page #bd #menu .item .sub_menu ul a{color:#000;text-decoration:none;}
#home_page #bd #menu .item .sub_menu ul  li{padding:5px 0;}
#home_page #bd #menu .item .sub_menu ul  li .menu_text{display:block;padding-right:25px;}
#home_page #bd #menu .item .sub_menu ul  li:hover .menu_text{border:1px solid #7fb2e5;background-color:#cce0f5;}
#home_page #bd #menu .item .sub_menu ul .sub_menu_star{padding-left:25px;background:#efefef url('../img/icon_sub_star.png') no-repeat 2% 50%;}
#home_page #bd #menu .item .sub_menu ul .close{width:10px;height:10px;background:#efefef url('../img/icon_close.png') no-repeat left bottom;}

