.sprite-1{ background-position: 0 0; width: 16px; height: 16px; } 
.sprite-2{ background-position: 0 -26px; width: 16px; height: 16px; } 
.sprite-3{ background-position: 0 -52px; width: 16px; height: 16px; } 
.sprite-4{ background-position: 0 -78px; width: 16px; height: 16px; } 
