/*@import url('reset.css');*/
@import url('reset-font-min.css');
html, body {
/*    font-size: 12px;*/
    font-size: 93%;
    height: 100%;
}

* { 
    outline: none; 
}

#header {
    height: 65px;
}

#logo {
	background: url('../images/csg-4ee1c149347c8.png') no-repeat;
	background-position: 0 -27px; width: 366px; height: 38px;
	margin: 13px 17px 14px 17px;
    display: inline-block;
}

#logon {
    float: right;
    margin: 30px 20px 0 0;
    font-size:85%;
    width: auto;
}

#logon .user {
    margin-right: 5px;
	float: left;
}

#logon .icon {
    display: block;
    float: right;
    width: 16px;
    height: 16px;
    position: relative;
    margin-bottom: 6px;
    cursor: pointer;
    margin-left: 3px;
}

#logon .icon.help {
	background: url('../images/csg-4ee1c149347c8.png') no-repeat;
	background-position: 0 -186px; width: 16px; height: 16px;
}

#logon .icon.document {
	background: url('../images/csg-4ee1c149347c8.png') no-repeat;
	background-position: 0 -160px; width: 16px; height: 16px;
}

#logon .submenu .arrow {
    position: absolute;
	background: url('../images/csg-4ee1c149347c8.png') no-repeat;
	background-position: 0 0; width: 18px; height: 17px;	
    z-index: 10;
    top: 4px;
    right: 19px;
}

#logon .submenu {
    display: none;
    position: absolute;
    top: 14px;
    right: -20px;
    border: 0px solid #00f;
    cursor: default;
}

#logon .submenu ul {
	background: url('../images/csg-4ee1c149347c8.png') no-repeat;
	background-position: 0 -230px; width: 135px; height: 160px;
	border: 2px solid #fff;
    box-shadow: 0px 0px 4px #000;
    border-radius: 6px;
    padding-top: 6px;
    z-index: 9;
    margin-top: 19px;
}

#logon .submenu ul li {
    padding: 0 0 0 11px;
    line-height: 22px;
}

#logon .submenu ul li a {
    font-weight: bold;
    font-size: 93%;
    color: #fff;
    text-decoration: none;
}

#logon .icon:hover .submenu {
    display: block;
}
#nav {
	font-size: 93%;
    line-height: 33px;
    background: url('../images/navigation_bg.png') repeat-x; height: 33px;
}
#nav ul > li {
    float: left;
    position: relative;
}
#nav ul > li:hover {
    background: url('../images/nav_btn_hover.png') repeat-x;
}
#nav ul > li:first-child {
    background: none;
}

#nav ul > li:hover ol {
    display: block;
}

#nav ul > li > a {
    color: #fff;
    font-weight: bold;
    display: block;
    padding: 0px 13px;
    background: url('../images/nav_btn_border.png') right 0 no-repeat;
    text-decoration: none;
}

#nav ul > li > a .star-empty {
	display: inline-block;
	margin-top: 7px;
	margin-bottom: -3px;
	background: url('../images/csg-4ee1c149347c8.png') no-repeat;
	background-position: 0 -75px; width: 17px; height: 17px;	
}

#nav ul > li:first-child a {
    cursor: default;
}

#nav ol {
    position: absolute;
    display: none;
    width: 200px;
    border: 1px solid #666;
    margin: 0 0 0 -2px;
    padding: 6px 0;
    box-shadow: 0px 2px 5px #999;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #e6e6e6;
}
#nav ol li{
    padding-top: 8px;
}
#nav ol li:first-child {
    padding-top: 0;
    padding-bottom: 8px;
    background: url('../images/nav_line.png') 0 100% repeat-x;
}
#nav ol li a {
    display: block;
    font-weight: normal;
    color: #000;
    padding: 0 6px 0 30px;
    line-height: 22px;
	background: url('../images/csg-4ee1c149347c8.png') no-repeat;
	background-position: 0 -102px; height: 22px;
    text-decoration: none;
}
#nav ol li:first-child a {
    padding: 0 6px;
    background: none;
}
#nav ol li a:hover {
	background: url('../images/csg-4ee1c149347c8.png') no-repeat;
	background-position: 0 -131px; height: 20px;
	background-color: #cce0f5;
    padding: 0 5px 0 29px;
    line-height: 20px;
    border: 1px solid #7fb2e5;
}
#nav ol li:first-child a:hover {
    line-height: 20px;
    padding: 0 5px;
    height: 20px;
    background: #cce0f5;
}
#nav ol li a .close {
    display: none;
}
#nav ol li a:hover .close {
	background: url('../images/csg-4ee1c149347c8.png') no-repeat;
	background-position: 0 -212px; width: 8px; height: 8px;
    cursor: pointer;
    display: block;
    float: right;
    margin-top: 6px;
}